body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    overflow-x: hidden;
}

#container {
    width: 100%;
    position: relative;
}

.scene {
    position: relative;
    padding: 0;
    height: 105vh;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

@font-face {
    font-family: 'CustomFont';
    src: url('assets/ChanticleerRomanNF.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;
}

.text {
    font-family: 'CustomFont', 'Franklin Gothic Medium', 'Arial Narrow', Arial;
    padding-top: 10%; /* Added padding to the top + left*/
    padding-left: 7.5%;
    z-index: 1;
    font-size: 1.75em;
    color: #babbbd;
}

/* Add specific styles for scenes 3 and 6 */
#scene3 .text, #scene6 .text {
    position: absolute;
    bottom: 10%;
    right: 7.5%;
    left: auto;
    top: auto;
    padding: 0; /* Remove top and left padding */
    text-align: right; /* Optional: align text to the right */
}


.line {
    transform: translateY(100%);
    opacity: 0;
    transition: transform 3s ease-out, opacity 5s ease-out;
}

.line.animate {
    transform: translateY(0);
    opacity: 1;
}

.images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

.images img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 1s;
    opacity: 0;
}

#mist {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('assets/mist.png') repeat;
    opacity: 0.4;
    pointer-events: none;
    z-index: 9999;
    animation: mistMove 25s linear infinite;
}

@keyframes mistMove {
    from { background-position: 0 0; }
    to { background-position: -1000px 1000px; }
}

#mute-button {
    position: fixed;
    top: 16px;
    right: 16px;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    z-index: 10000;
    font-size: 16px;
}